@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-2xl;
  }
}

@layer utilities {
  .loading-circle {
    @apply h-24 w-24 rounded-full border-8 border-solid border-neutral-600 border-t-neutral-300;
    animation: LoadingCircle 1s infinite linear;
  }

  @keyframes LoadingCircle {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .page-center {
    @apply mx-auto max-w-screen-xl;
  }
}
